<router-outlet></router-outlet>
<html>
    <head>
    <title>Login Page</title>
    </head>
<body>
        <div class="header-container">
            <div class="login-container">
                <h1>CONSAP</h1>
            </div>
        </div>
        
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>Login</a></li>
                <li><a>Registati</a></li>
                <li><a>Contattaci</a></li>
            </ul>
        </nav>
    <main>
        <div class="loginpage-container">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" [(ngModel)]="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" [(ngModel)]="password"><br>
                <input type="submit" (click)="onSubmit()" value="Login">
            </form>
        </div>
        <div id="loadingBar"></div>
        <button class="dirigente-vendita-button" [routerLink]="'/tabella1'"
        style="display: flex; margin: 0 auto;">Tabelle Consap</button>
    </main>
    <footer class="footer-login">
        <p>© 2024 Consap. Tutti i diritti riservati.</p>
      </footer>
    </body>
</html>
